@model IEnumerable<WWImporters.Models.Person>

@{
    ViewBag.Title = "Home";
}

<br />
<br />

<h2 style="text-align: center;">Client Search</h2>

@*Search box and button*@
<form action="/Home/Index" method="get">
    <div class="row">
        <div class="col-sm-12">
            <input name="query" id="search" placeholder="Search by client name" />
            <input type="submit" class="btn-lg btn-info" id="submit" value="Search" />
        </div>
    </div>
</form>

<br />
<br />

@*Displays an error if no matches are found in controller*@
@if (ViewBag.ShowError)
{
    <h5 style="color: #8B0000">No results found.</h5>
}
else
{
    <h5>@ViewBag.ResultString</h5>
}


@*Displays search results binded with hyperlink*@
@foreach (var person in Model)
{
    <a class="btn btn-default btn-lg btn-block" href="@Url.Action("Details", "Home", new { id=person.PersonID })">@Html.DisplayFor(personItem => person.FullName)</a>
}