@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campus Apartments</h1>
    <p class="lead">We offer affordable housing solutions to current Western Oregon University students.</p>
    <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW5_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tenant Request Form</h2>
        <p>
            Have a request, need maintainance or need to file a complaint? Tell us about it and we'll get back to you as soon as we can.
        </p>
        <p><a class="btn btn-primary" href="Home/RequestForm">Fill it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View Current Requests</h2>
        <p>Having trouble remembering if you sent a request or just want to look around? Check out all our open requests.</p>
        <p><a class="btn btn-primary" href="Home/ViewForms">View requests &raquo;</a></p>
    </div>
</div>