body {
    padding-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    text-align: left;
}

.dl-horizontal dd {
    margin-left: 0;
}

.banner {
    background-color: #74777c;
    width: 100%;
    margin: 0;
    padding: 1em;
    display: inline-flex;
}

.banner h1 {
    padding-left: 25px;
    color: #fff;
}

.details-box {
    background-color: lightgrey;
    border: 2px solid;
    padding: 10px 25px;
}

#search {
    width: 90%;
    padding: 12px;
    height: 43px;
    border-radius: 5px 0 0 5px;
}

#submit {
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    padding: 8px;
}
